
@{
    ViewBag.Title = "TeklifDuzenle";
    Layout = "~/Shared/_LayoutAdminIndex.cshtml";
}
@model SoldOrder

<div>
    <form action="" method="post">
        <span>Araç Seç:</span> @Html.DropDownListFor(x => x.VehicleID, new SelectList(ViewBag.Araclar, "id", "ProductName"))
        <br />
        <span>Taksit:</span>
        <select name="ddlTaksit">
            @if (Math.Floor(Model.SoldPrice / Model.MonthlyPaypments) == 1)
            {
                <option selected ="selected">1</option>
                <option>3</option>
                <option>6</option>
                <option>9</option>
                <option>12</option>
            }
            else if (Math.Floor(Model.SoldPrice / Model.MonthlyPaypments) == 3)
            {
                <option>1</option>
                <option selected="selected">3</option>
                <option>6</option>
                <option>9</option>
                <option>12</option>
            }
            else if (Math.Floor(Model.SoldPrice / Model.MonthlyPaypments) == 6)
            {
                <option>1</option>
                <option>3</option>
                <option selected="selected">6</option>
                <option>9</option>
                <option>12</option>
            }
            else if (Math.Floor(Model.SoldPrice / Model.MonthlyPaypments) == 9)
            {
                <option>1</option>
                <option>3</option>
                <option>6</option>
                <option selected="selected">9</option>
                <option>12</option>
            }
            else
            {
                <option>1</option>
                <option>3</option>
                <option>6</option>
                <option>9</option>
                <option selected="selected">12</option>
            }
            
        </select>
        <br />
        <input type="submit" name="name" value="Kaydet" />
    </form>
</div>


